
@media (max-width: 933px){
    .teams-container{
        display: none;
    }
}
@media (max-width: 700px){
    .chat-headbar img,
    .chat-navbar img,
    .nav-container img{
        width: 20px;
    }
    .nav-container .profile-picture img{
        width: 25px;
    }
    .chat-headbar{
        font-size: 15px;
    }
    .message-box{
        width: 80%;
    }
    .chat-navbar p,
    .message-box p,
    .link-head .title,
    .reply-btn{
        font-size: 13px;
    }
    .link-head .view{
        font-size: 12px;
    }
    .link-head p.source{
        font-size: 11px;
    }
    .profile-sender{
        left: -45px;
    }
    .write-message{
        width: 90%;
        -webkit-box-shadow: 0px 0px 16px 6px rgba(0,0,0,0.19); 
        box-shadow: 0px 0px 16px 6px rgba(0,0,0,0.19);
    }
}
@media (max-width: 556px){
    .chat-headbar,
    .chat-navbar{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .menu-icon img{
        padding: 10px;
        display: block;
        width: 30px;
        margin: auto;
    }
    .nav-container{
        height: 0;
        display: none;
        padding: 10px 0; 
    }
    .menu-btn:checked ~ .all-container > .nav-container{
        display: inherit;
        height: fit-content;
    }
    .all-container{
        flex-direction: column;
    }
    .chat-section{
        min-width: inherit;
        overflow-y: unset;
    }
    .write-message{
        padding: 5px 0;
    }
    .write-message img{
        width: 20px;
        padding: 10px 4px;
    }
    .option-nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }
    .option-nav img{
        display: none;
    }
    .first-nav > .profile-picture{
        display: none;
    }

}
@media (max-width: 450px){
    .profile-sender{
        left: -30px;
    }
    img.profile-sender {
        width: 30px ;
    }
    .write-message{
        width: 96%;
    }
    img.profile-picture{
        width: 25px;
        height: fit-content;
    }
}
